:root {
  --vp-c-brand-1: #2563eb;
  --vp-c-brand-2: #1d4ed8;
  --vp-c-brand-3: #1e40af;

  --vp-font-family-mono: "0xProto", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

@font-face {
  font-family: "0xProto";
  src: url("../../0xProto/0xProto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("../../0xProto/0xProto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "0xProto";
  src: url("../../0xProto/0xProto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.vp-doc pre,
.vp-doc code,
.vp-doc kbd,
.vp-doc samp {
  font-family: var(--vp-font-family-mono);
  font-variant-ligatures: contextual discretionary-ligatures;
  font-feature-settings: "calt" 1, "liga" 1, "dlig" 1;
}
